<!--コメントリスト部分プレート-->
  <table>
    <% book.book_comments.each do |book_comment| %>
      <tr>
        <td>
          <%= link_to user_path(book.user.id) do %>
            <%= image_tag book_comment.user.get_profile_image(50,50) %><br>
            <%= book.user.name %>
          <% end %>
        </td> 
        <td><%= book_comment.comment %></td> 
        <td>
          <% if book_comment.user == current_user %>
          <!--remote: trueを追加-->
            <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete,remote: true, class: "btn btn-sm btn-danger"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
   <!--コメントフォーム部分プレート-->
   <!--local: falseを追加-->
  <%= form_with(model: [book, book_comment], local: false, class: "comment-form") do |f| %>
    <%= f.text_area :comment, rows: '5', class: "form-control comment" %>
    <div>
      <%= f.submit "送信" %>
    </div> 
  <% end %>
          
